


body {
    background: 
    linear-gradient(rgba(255, 255, 255, 0.3)), /* white overlay */
    url('../img/lab.webp');
    background-size: cover;
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */

}

.starters {
    min-height:100px;
    min-width: 290px;
    width: 72vmin;
    height: 25vmin;
    background-color: var(--background-color);
    border-radius: 20px;
    border: solid var(--border-color) 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.starter {
    
    width: 20vmin;
    height: 20vmin;
    min-width: 80px;
    min-height: 80px;
    background-color: var(--background-color-w);
    border-radius: 20px;
    border: solid var(--border-color) 5px;
    display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vmin;
  
}


.treecko:hover  {
    background-color: rgb(183, 243, 183);
    border-color: green;
}

.torchic:hover  {
    background-color: rgb(218, 139, 139);
    border-color: red;
}
.mudkip:hover  {
    background-color: rgb(133, 133, 214);
    border-color: blue;
}


.starter img {
    width:8vmin;
    min-width: 40px;

}

.titleIndex {
    position: fixed;
    top:10%;
    
    
}

@media (max-width: 1000px) or (max-height: 700px) {
  .titleIndex {
    display: none;
  }
}

.torchic, .treecko, .mudkip {
    cursor: url("../img/pokeball.cur"), auto;}

.pokethrow {
  position: fixed;
  
  top: 50%;    /* start roughly center */
  left: 0;
  transform: translate(0, -50%) scale(0.5);
  animation: flyAcross 0.5s linear forwards;
  pointer-events: none;
  z-index: 1000;
}



@keyframes flyAcross {
  0% { transform:translateX(-10px) translateY(0px) scale(0.6) rotate(0deg); }
  25% { transform:translateX(10px) translateY(-40px) scale(0.5) rotate(-90deg); }
  50% { transform:translateX(30px) translateY(-80px) scale(0.4) rotate(-180deg); }
  75% { transform:translateX(50px) translateY(-100px) scale(0.3) rotate(-270deg); }
  100% { transform:translateX(70px) translateY(-80px) scale(0.2) rotate(-360deg);}
}