

body {

    background: 
        linear-gradient(rgba(133, 133, 214, 0.4)), /* blue overlay */
    url('../img/cienaga1.webp') no-repeat center center;

    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 

}
