html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}



.outerDiv {
    min-width: 290px;
    width: 60vw;
    background-color: var(--background-color);
    border-radius: 20px;
    border: solid var(--border-color) 5px;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    flex-wrap: nowrap;
}
p {
    width: 100%;
    overflow-wrap: break-word;
    flex: 1; 
}
.outerDiv:nth-child(3) {
    justify-content: space-between;
}

.outerDiv:nth-child(3) p{
    margin: 1vw;
}

.innerDiv {
    
    width: 10vw;
    height: 10vw;
    min-width: 75px;
    min-height: 75px;
    background-color: var(--background-color-w);
    border-radius: 20px;
    border: solid var(--border-color) 5px;
    display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-shrink: 0;
  
}


.innerDiv img {
  min-width: 50%;
  display: block;
  margin: auto;
  width: 6vw;
}