

body {

    background: 
        linear-gradient(rgba(183, 243, 183, 0.4)), /* green overlay */
    url('../img/bosquecrecido1.webp') no-repeat center center;

    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 

}
